<!-- start custom comments snippet -->
<span id="IDCommentsPostTitle" style="display:none"></span>

<script type="text/javascript">
  var idcomments_acct = '69fa2143255a25441557b4f682714705';
  var idcomments_post_id = '{{ page.url | slugify }}'; // Identificador único por post
  var idcomments_post_url = '{{ page.url | absolute_url }}'; // URL completa del post
</script>

<script type="text/javascript" src="https://www.intensedebate.com/js/genericCommentWrapperV2.js"></script>
<!-- end custom comments snippet -->
