<!-- start custom comments snippet -->
<div id="graphcomment"></div>
<script type="text/javascript">
  window.graphcomment_id = "JDan";
  (function() {
    var gc = document.createElement("script");
    gc.type = "text/javascript";
    gc.async = true;
    gc.src = "https://graphcomment.com/js/integration.js?" + Date.now();
    (document.head || document.body).appendChild(gc);
  })();
</script>
<!-- end custom comments snippet -->
<br>
<!-- start custom comments snippet -->
<div id="graphcomment-widget"></div>

<script src="https://graphcomment.com/js/widget.js"></script>

<script>
graphcommentWidget(document.getElementById('graphcomment-widget'), {
  "graphcomment_id": "JDan",
  "defaultTab": "last_comments",
  "tabs": [
    "last_comments",
    "top_comments",
    "top_threads"
  ],
  "labels": {
    "last_comments": "",
    "top_comments": "",
    "top_threads": ""
  },
  "period": "90 days",
  "limit": 25,
  "height": null,
  "openLinksNewWindow": true,
  "showVotes": true,
  "locale": "es"
});
</script>
<!-- end custom comments snippet -->
