---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <meta name="follow.it-verification-code" content="dl4XmNJm2SSgLn2MjjwH"/>
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

<div id="graphcomment-widget"></div>

<script src="https://graphcomment.com/js/widget.js"></script>

<script>
graphcommentWidget(document.getElementById('graphcomment-widget'), {
  "graphcomment_id": "JDan",
  "defaultTab": "last_comments",
  "tabs": [
    "last_comments",
    "top_comments",
    "top_threads"
  ],
  "labels": {
    "last_comments": "",
    "top_comments": "",
    "top_threads": ""
  },
  "period": "90 days",
  "limit": 25,
  "height": null,
  "openLinksNewWindow": true,
  "showVotes": true,
  "locale": "es"
});
</script>
    

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
